<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>Wireless Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Upcoming football matches on the wireless">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="icon" type="image/png" href="icon.png">
</head>

<body>
    <div>
        <a href="#"><h1>Football on radio and TV</h1></a>
        {{ range .MatchDays }}
        <section class="day-section">
            <a href="#{{ .DateOnly }}"><h2 class="day" id="{{ .DateOnly }}">{{ .NiceDate }}</h2></a>            
            {{ range .Matches }}                
                <div class="match-header">
                    <h3 id="{{ .GameHash }}" class="stations">{{ .Time }}</h3>
                    {{ range .Stations }}<span class="pill {{ .ClassName }}">{{ . }}</span>{{ end }}
                </div>
                <p class="match-title">{{ .Title }} ({{ .Competition }})</p>
            {{ end }}
        </section>
        <hr />
        {{ end }}
    </div>

    <footer>
        <p><a href="./icalendar.ics">iCalendar link</a></p>
        <p><a href="./log.txt">Build information</a></p>
    </footer>
</body>
</html>
