html
    head
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css')
        meta( name='viewport', content='width=device-width, initial-scale=1' )

    body
        h1 Football on the radio ⚽ 📻

        each date in matches
            h2= date.date
            table
                each match in date.matches
                    tr
                        th
                            a(href=match.calString)= '📅' + match.time
                        th= '📻' + match.station
                    tr
                        td(colspan=2)= '⚽' + match.title
            hr
