
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css')

ul
    each match in matches
        li
            p= match.title
            p= match.station
            p= match.datetime

