* {
  font-family: "Lora", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #0e0e0e;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
}

.time {
  font-size: 24px;
  width: 25%;
}

.title {
  font-size: 16px;
}

.competition {
  font-size: 14px;
  font-weight: 500;
}

.station {
  font-size: 14px;
  margin-bottom: 15px;
}

.date {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.page-subtitle {
  margin-top: 0px;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline solid;
}

tr:nth-child(even) td {
  padding-bottom: 15px;
}

table {
  width: 100%;
  border-spacing: 5px;
}

.dropdown {
  float: left;
  min-width: 100px;
}

.navlink {
  float: left;
  border-bottom: 1px dashed #0e0e0e;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

.navlink a {
  text-decoration: none;
}

.navlink:hover {
  background-color: #0e0e0e;
}

.navlink:hover a {
  color: white;
}

.dropdown button {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px dashed #0e0e0e;
  outline: none;
  color: #0e0e0e;
  margin-bottom: 40px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown button:hover {
  border-bottom: 1px solid #0e0e0e;
  background-color: #0e0e0e;
  color: white;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #0e0e0e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content a {
  display: block;
  float: none;
}

.dirlist a {
  display: block;
}
