BEGIN:VCALENDAR
VERSION:2.0
METHOD:PUBLISH
PRODID:-wirelessfootball.co.uk/icalendar
{{- range .Events }}
BEGIN:VEVENT
UID:{{ .Uid }}
DTSTAMP:{{ $.DtStamp }}
DTSTART:{{ .DtStart }}
DURATION:PT2H
END:VEVENT
{{- end }}
END:VCALENDAR
