BEGIN:VCALENDAR{{ printf "\r" }}
VERSION:2.0{{ printf "\r" }}
METHOD:PUBLISH{{ printf "\r" }}
PRODID:-wirelessfootball.co.uk/icalendar{{ printf "\r" }}
{{- range .Events }}
BEGIN:VEVENT{{ printf "\r" }}
UID:{{ .Uid }}{{ printf "\r" }}
DTSTAMP:{{ $.DtStamp }}{{ printf "\r" }}
DTSTART:{{ .DtStart }}{{ printf "\r" }}
DURATION:PT2H{{ printf "\r" }}
END:VEVENT{{ printf "\r" }}
{{- end }}
END:VCALENDAR{{ printf "\r" }}
