<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>Wireless Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Upcoming football matches on the wireless">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="icon" type="image/png" href="icon.png">
</head>

<body>
    <div>
        <h1>Football on radio and TV</h1>
        {{ range .MatchDays }}
        <section class="day-section">
            <h2 class="day" id="{{ rfc3339 .DateTime }}">{{ .NiceDate }} <a href="#{{ rfc3339 .DateTime }}">#</a></h2>
            {{ range .Matches }}
                <h3 id="{{ gamehash . }}" class="stations">{{ .Time }} | {{ join .Stations " | " }} <a href=#{{ gamehash . }}>#</a></h3>
                <p class="match-title">{{ .Title }} ({{ .Competition }})</p>
            {{ end }}
        </section>
        <hr />
        {{ end }}
    </div>

    <footer>
        <a href="./icalendar.ics">iCalendar link</a>
    </footer>
</body>
</html>
