<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>Radio Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Upcoming football matches on the wireless">
    <meta name="theme-color" content="#121212">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link rel="manifest" href="manifest.webmanifest">

    <style>
        * {
            font-family: monospace;
            background-color: #121212;
            color: #ffffff;

        }

        #container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .matchday {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .match {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

    </style>
</head>

<body>
    <div id="container">
        <h1>Football on the radio</h1>
        {{ range .MatchDays }}
        <div class="matchday">
            <p><b>{{ .Date }}</b></p>
            {{ range .Matches }}
                <div class="match">
                    <p class="row text-row"><b>{{ .Time }}</b></p>
                    <p class="row text-row">{{ .Station }}</p>
                    <p class="row text-row">{{ .Title }}</p>
                    <p class="row text-row">{{ .Competition }}</p>
                </div>
            {{ end }}
        </div>
        <hr />
        {{ end }}
    </div>
</body>

<script>
    const registerServiceWorker = async () => {
        if ('serviceWorker' in navigator) {
            try {
                const registration = await navigator.serviceWorker.register(
                    '/serviceWorker.js',
                    {
                        scope: '/',
                    }
                );
                if (registration.installing) {
                    console.log('Service worker installing');
                } else if (registration.waiting) {
                    console.log('Service worker installed');
                } else if (registration.active) {
                    console.log('Service worker active');
                }
            } catch (error) {
                console.error(`Registration failed with ${error}`);
            }
        }
    };
    registerServiceWorker();
</script>

</html>
