<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>Wireless Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Upcoming football matches on the wireless">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <style>
        @font-face {
            font-family: LonUn;
            src: url(lu.ttf);
        }

        * {
            font-family: LonUn;
            background-color: black;
            color: rgba(243, 240, 110, 1);
        }

        hr {
            border-top: 1px solid rgba(243, 240, 110, 1);
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>Football (and cricket!) on the radio</h1>
        {{ range .MatchDays }}
        <div class="matchday">
            <h2>{{ .NiceDate }}</h2>
            {{ range .Matches }}
                <div class="match">                    
                    <p class="row text-row"><b>{{ .Time }} | {{ join .Stations " | " }}</b></p>
                    <p class="row text-row">{{ .Title }} ({{ .Competition }})</p>
                </div>
            {{ end }}
        </div>
        <hr />
        {{ end }}
    </div>
</body>
</html>
