/* General */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}

/* Header */
h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #000;
}

/* Match Day Section */
.day-section {
  margin-bottom: 20px;
}

.day {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #000;
}

/* Matches */
.stations {
  color: #777;
  margin: 5px 0;
}

.match-title {
  margin: 5px 0;
  font-weight: bold;
}

/* Footer */
footer {
  margin-top: 30px;
}

/* Additional classes */
a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

.pill {
  display: inline-block;
  padding: 0 1em;
  background-color: #777; /* Bootstrap primary color */
  color: white;
  border-radius: 30px; /* Gives the pill-like shape */
  text-align: center;
  font-size: smaller;
}

.match-header {
  display: flex;
  align-items: center;
  gap: 3px 0.5em;
}

.sky-sports {
  background-color: darkblue;
  color: gold;
}

.talksport,.talksport2 {
  background-color: #000;
  color: yellow;
}

.bbc-one,.radio-5-live,.radio-5-sports-extra {
  background-color: yellow;
  color: #000;
}

.tnt-sports {
  background-color: purple;
  color: white;
}